<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/carritos">Carritos</a></li>
        </ul>
    </nav>

    {{{body}}}


    <footer>
        <p>Mis productos</p>
    </footer>


    <script src="/scripts/main.js"></script>
</body>
</html>
